*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Open Sans", sans-serif;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
  line-height: 1.6; }

h1 {
  font-size: 4.5rem;
  font-weight: 300;
  letter-spacing: .5rem;
  text-transform: uppercase; }

h3 {
  font-size: 2.4rem;
  font-weight: 400;
  text-transform: uppercase; }
  @media only screen and (max-width: 62.5em) {
    h3 {
      font-size: 2.0rem; } }
  @media only screen and (max-width: 62.5em) {
    h3 {
      font-size: 1.8rem; } }

.container {
  display: grid;
  grid-template-rows: 60vh repeat(6, min-content);
  grid-template-columns: [sidebar-start] 10rem [sidebar-end full-start] minmax(4rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 62.5em) {
    .container {
      grid-template-rows: 8rem 80vh min-content 40vw repeat(3, min-content);
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; } }
  @media only screen and (max-width: 50em) {
    .container {
      grid-template-rows: 8rem calc(100vh - 6rem) min-content min-content min-content repeat(3, min-content); } }

.sidebar {
  background-image: linear-gradient(to top, #dbff66, #72b000);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  display: flex;
  justify-content: center;
  position: relative;
  transition: all 0.3s; }
  @media only screen and (max-width: 62.5em) {
    .sidebar {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      justify-content: flex-end;
      align-items: center; } }

.header {
  grid-column: full-start / full-end;
  grid-row: 1 / 2;
  position: relative; }
  @media only screen and (max-width: 62.5em) {
    .header {
      grid-row: 2 / 3; } }

.about {
  grid-column: center-start / center-end;
  grid-row: 2 / 3; }
  @media only screen and (max-width: 62.5em) {
    .about {
      grid-row: 3 / 4; } }
  .about h3 {
    margin: 3rem 0; }
  .about p {
    margin: 2.5rem auto;
    font-size: 1.6rem;
    line-height: 1.8;
    letter-spacing: 1.8; }

.projects {
  background-color: #bdbdbd;
  grid-column: center-start / center-end; }
  @media only screen and (max-width: 62.5em) {
    .projects {
      grid-row: 4 / 5; } }

.experiences {
  background-color: #f5f5f5;
  grid-column: center-start / center-end;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: repeat(8, [experience-start] minmax(min-content, 14rem) [experience-end]);
  grid-auto-rows: min-content; }
  @media only screen and (max-width: 62.5em) {
    .experiences {
      grid-row: 5 / 6; } }

.experience__company {
  background-color: #eeeeee;
  grid-column: experience-start 1 / experience-end 5; }

.experience__role {
  background-color: #757575;
  grid-column: experience-start 6 / experience-end 8; }

.experience__jobs {
  background-color: #212121;
  color: rgba(255, 255, 255, 0.87);
  grid-column: experience-start 1 / experience-end 5; }

.experience__period {
  background-color: #bdbdbd;
  grid-column: experience-start 1 / experience-end 5; }

.contact__form {
  background-color: #ff984d;
  grid-column: full-start / col-end 4; }
  @media only screen and (max-width: 62.5em) {
    .contact__form {
      grid-row: 6 / 7; } }

.contact__description {
  background-color: #eeeeee;
  grid-column: col-start 5 / full-end; }
  @media only screen and (max-width: 62.5em) {
    .contact__description {
      grid-row: 6 / 7; } }

.resume {
  background-color: #a6e22e;
  grid-column: center-start / center-end; }
  @media only screen and (max-width: 62.5em) {
    .resume {
      grid-row: 7 / 8; } }

.footer {
  background-color: #212121;
  color: rgba(255, 255, 255, 0.87);
  grid-column: full-start / full-end; }
  @media only screen and (max-width: 62.5em) {
    .footer {
      grid-row: 8 / -1; } }

.realtors {
  background-color: #ff984d;
  grid-column: col-start 6 / center-end; }

.menu-icon {
  width: 3rem;
  height: 3rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  top: 3rem;
  z-index: 150;
  cursor: pointer; }
  @media only screen and (max-width: 62.5em) {
    .menu-icon {
      right: 1.5rem;
      top: 2rem; } }
  .menu-icon__line {
    width: 100%;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.87);
    transition: all 0.8s; }

.nav-list {
  opacity: 0;
  z-index: 100;
  margin-top: 5rem; }
  @media only screen and (max-width: 62.5em) {
    .nav-list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 0;
      margin-right: 7rem;
      height: 100%; } }
  @media only screen and (max-width: 37.5em) {
    .nav-list {
      margin-right: 4rem; } }

.nav-item {
  list-style: none;
  margin-top: 2.5rem; }
  @media only screen and (max-width: 62.5em) {
    .nav-item {
      margin: 0 1rem; } }
  @media only screen and (max-width: 37.5em) {
    .nav-item {
      margin: 0 .5rem; } }

.nav-link {
  text-decoration: none;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  padding: 3px 0; }
  @media only screen and (max-width: 37.5em) {
    .nav-link {
      font-size: 1.2rem;
      font-weight: 400; } }

.nav-link::before,
.nav-link::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #c7691e;
  position: absolute;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.5s; }

.nav-link::after {
  bottom: 0;
  transform-origin: left; }

.nav-link::before {
  top: 0;
  transform-origin: right; }

.nav-link:hover::before,
.nav-link:hover::after {
  transform: scaleX(1); }

.change {
  width: 15rem;
  height: 100vh;
  border-radius: 0 30% 30% 0 / 0 40% 60% 0;
  left: -1rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px; }
  @media only screen and (max-width: 62.5em) {
    .change {
      width: 100vw;
      height: 8rem;
      border-radius: 0; } }
  @media only screen and (max-width: 37.5em) {
    .change {
      width: 101vw; } }
  .change .menu-icon__line-1 {
    transform: rotateZ(-405deg) translate(-0.8rem, 0.6rem); }
  .change .menu-icon__line-2 {
    opacity: 0; }
  .change .menu-icon__line-3 {
    transform: rotateZ(405deg) translate(-0.8rem, -0.6rem); }
  .change .nav-list {
    opacity: 1; }

.video-container {
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden; }
  .video-container__content {
    height: 90%;
    width: 90%;
    object-fit: cover; }

.video-desc {
  padding: 5rem;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.about ul li {
  list-style: none; }

.skill {
  display: flex;
  width: 30rem; }
  .skill__icon {
    width: 3rem;
    height: 3rem;
    border-radius: 50%; }
