.about {
}

.skill {
  list-style: none;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); 
  grid-gap: 1rem;
  justify-content: space-around;
  flex-wrap: wrap;


  &__item {   
    font-size: 1.6rem;    
    min-width: 30rem;    
    border-radius: 6px;
    box-shadow: $box-shadow-1;
    background-color: $background;
    text-align: center;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: flex-start;
    
  }  

  &__icon {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    align-self: center;
    
  }

  &__desc {
   margin-top: 1.5rem;
  }

}