.container {
  display: grid;

  // 1:header 2:features 3:story 4:homes 5:gallery 6:footer
  // grid-template-rows: 80vh repeat(6, min-content);
  grid-template-rows: 60vh repeat(5, min-content);

  //8rem 1fr repeat(8, 1fr) - 1140/8=142.5 1fr = 1:sidebar 2:space, 3~10:main, 11:space
  grid-template-columns:
    [sidebar-start] 10rem [sidebar-end full-start] minmax(4rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr)
    [full-end];

  @media only screen and (max-width: $bp-large) {
    grid-template-rows: 8rem 80vh min-content 40vw repeat(2, min-content);
    grid-template-columns:
      [full-start] minmax(6rem, 1fr)
      [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
      [center-end] minmax(6rem, 1fr)
      [full-end]; //1140/8=142.5
  }

  @media only screen and (max-width: $bp-medium) {
    grid-template-rows: 8rem calc(100vh - 6rem) min-content min-content min-content repeat(
        3,
        min-content
      );
  }
}

.sidebar {
  background-color: $background-color;
  box-shadow: $box-shadow-2;

  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;

  display: flex;
  justify-content: center;
  position: relative;
  transition: all 0.3s;

  @media only screen and (max-width: $bp-large) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-content: flex-end;
    align-items: center;
  }
}

.header {
  grid-column: full-start / full-end;
  grid-row: 1 / 2;

  @media only screen and (max-width: $bp-large) {
    grid-row: 2 / 3;
  }

  position: relative;
}

.about {
  grid-column: center-start / center-end;
  grid-row: 2 / 3;

  @media only screen and (max-width: $bp-large) {
    grid-row: 3 / 4;
  }
}

.projects {
  grid-column: center-start / center-end;

  @media only screen and (max-width: $bp-large) {
    grid-row: 4 / 5;
  }
}

.experiences {
  grid-column: center-start / center-end;

  @media only screen and (max-width: $bp-large) {
    grid-row: 5 / 6;
  }
}

.contact {
 
  &__form {
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
    grid-column: full-start / col-end 4;
    text-align: center;
    border-radius: 3px;
    box-shadow: $box-shadow-2;

    @media only screen and (max-width: $bp-large) {
      grid-row: 6 / 7;
    }    

    @media only screen and (max-width: $bp-small) {
      grid-column: full-start / full-end;
    }    
  }

  &__description {
    background-image: linear-gradient(to right bottom, $color-grey-light-1, $color-grey-light-2);
    border-radius: 3px;
    box-shadow: $box-shadow-3;

    grid-column: col-start 5 / full-end;
    
    @media only screen and (max-width: $bp-large) {
      grid-row: 6 / 7;
    }

    @media only screen and (max-width: $bp-small) {
      grid-row: 7 / 8;
      grid-column: full-start / full-end;
    }    
  }
}

.footer {
  background-color: $color-grey-dark-2;
  color: $text-secondary;
  grid-column: full-start / full-end;

  @media only screen and (max-width: $bp-large) {
    grid-row: 7 / -1;
  }

  @media only screen and (max-width: $bp-small) {
    grid-row: 8 / -1;
  }    
}