.menu-icon {
  width: 3.5rem;
  height: 3.5rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  z-index: 150;
  cursor: pointer;

  @media only screen and (max-width: $bp-large) {
    right: 1.5rem;
  }

  &__line {
    width: 100%;
    height: 3px;
    background-color: $text-primary;
    transition: all 0.8s;
  }
}

.nav-list {
  opacity: 0;
  z-index: 100;
  margin-top: 5rem;

  @media only screen and (max-width: $bp-large) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: -1rem;
    width: 200%;
  }
}

.nav-item {
  list-style: none;
  margin-top: 2.5rem;

  @media only screen and (max-width: $bp-large) {
    margin: 0 1rem;
  }

  @media only screen and (max-width: $bp-small) {
    margin: 0 .7rem;
  }
}

.nav-link {
  text-decoration: none;
  font-size: 2rem;
  color: $text-primary;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;

  position: relative;
  padding: 3px 0;

  @media only screen and (max-width: $bp-large) {
    font-size: 1.6rem;
    font-weight: 400;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 1.2rem;
    font-weight: 400;
  }
}

.nav-link::before,
.nav-link::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: $color-secondary-dark;
  position: absolute;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.nav-link::after {
  bottom: 0;
  transform-origin: left;
}

.nav-link::before {
  top: 0;
  transform-origin: right;
}

.nav-link:hover::before,
.nav-link:hover::after {
  transform: scaleX(1);
}

.change {
  position: fixed;
  width: 25rem;
  height: 100vh;
  border-radius: 0 30% 30% 0 / 0 40% 60% 0;
  left: 0;

  @media only screen and (max-width: $bp-large) {
    position: fixed;
    width: 100vw;
    height: 10vh;
    border-radius: 0;
  }

  .menu-icon {
    &__line {
      &-1 {
        transform: rotateZ(-405deg) translate(-0.9rem, 0.7rem);
      }

      &-2 {
        opacity: 0;
      }

      &-3 {
        transform: rotateZ(405deg) translate(-0.9rem, -0.7rem);
      }
    }
  }

  .nav-list {
    opacity: 1;
  }
}
